@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  --margin-botton-input: 10px;
}



:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}


bbva-form-field, cells-combobox, bbva-form-textarea  {
  margin-bottom: var(--margin-botton-input);
}




